alibi-detect==0.7.2
airflow-provider-great-expectations==0.0.6
apache-airflow==2.1.0
dvc==2.1.0
fastapi==0.63.0
feast==0.10.5
matplotlib==3.2.2
mlflow==1.13.1
nltk==3.2.5
numpy==1.19.5
numpyencoder==0.3.0
optuna==2.4.0
pandas==1.1.5
pretty-errors==1.2.19
rich==10.0.0
scikit-multilearn==0.2.0
seaborn==0.11.1
sklearn==0.0
snorkel @ git+git://github.com/snorkel-team/snorkel.git@4d1555654496f0d9e089edc26a8aa102cdfbb5da  # replace with snorkel==0.9.8 when it's ready
streamlit==1.0.0
torch==1.9.0
typer==0.3.2
uvicorn[standard]==0.13.3
watchdog==2.0.2
wordcloud==1.5.0